FakeNFT.xcodeproj/project.xcworkspace/xcuserdata/evgenii.xcuserdatad/UserInterfaceState.xcuserstate
FakeNFT.xcodeproj/project.xcworkspace/xcuserdata/Georgiy.xcuserdatad/UserInterfaceState.xcuserstate
FakeNFT.xcodeproj/project.xcworkspace/xcuserdata/Georgiy.xcuserdatad/UserInterfaceState.xcuserstate
